@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body {
    background-color: hsl(256, 100%, 68%);
    font-family: "Acme", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #f5f3ff;
    margin: 0;
    padding: 0;

}

div.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: hsl(256, 100%, 69%);
    border-radius: 5px;
    box-shadow: 11px 13px 14px 0px hsla(256, 100%, 30%, 1);
    align-items: center;
}
input[type="text"], input[type="email"], input[type="phone"] {   
    background-color: hsl(256, 100%, 80%);
    border: none;
    padding: 10px 30px;
    margin: 5px;
    color: #f5f3ff;

}

input[type="submit"], input[type="reset"] {
    background-color: hsl(256, 100%, 80%);
    border: none;
    margin-top: 20px;
    padding: 10px 30px;
    color: #f5f3ff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: hsl(256, 100%, 60%);
}

input[type="reset"]:hover {
    background-color: hsl(256, 70%, 23%);
}

::placeholder {
    color: #f5f3ff;
}

h2.thank_mgs {
    margin-bottom: 20px;
    text-align: center;
}

p.user_info {
    display: flex;
    flex-direction: column;
}
